<table>	<tr><td><%= debug(session) %></td><td><%= debug(params) %></td> </tr>
	<tr><td colspan="2"> |......
			URL/create/:title/achievements .....|......
			app/views/achievements/create.html.erb ......|......
			The create resume/achievements view - submission for adding a achievement text for the resume of a user	......|......
			controller: achievements, action: create ......|	</td></tr></table>
<hr><br />

<%= link_to 'Back to resume', '/show/'+@resume.title %>
<%= link_to 'Home', '/home' %>
<%= link_to 'Logout', '/logout' %>