<table>	<tr><td><%= debug(session) %></td><td><%= debug(params) %></td> </tr>
	<tr><td colspan="2"> |......
			URL/destroy/:title	.....|......
			app/views/resumes/destroy.html.erb ......|...... 
			The destroy resume view - submission for destroying the resume of a user	......|......
			controller: resumes, action: destroy ......|	</td></tr></table>
<hr><br />

<%=h flash[:notice] %>

<%= link_to 'Home', '/home' %>
<%= link_to 'Logout', '/logout' %>