			<% part_str = "resume[parts]" %>
			<% fields_for part_str, part, :index=>part.id do |part_form| %>
			<div class="resume_part" id="<%= "#{part.title}_#{part.id}" %>">
				<div class="part_header"><h3>
					<span class="display"><%= part.title %></span>
					<%= part_form.text_field :title, :class=> "edit" %>
				</h3></div>	
				<div class="part_data">
					<% part.subparts.each do |subpart_obj| %>
						<%= render :partial => "subparts/show", :locals => { :subpart => subpart_obj } %>
					<% end #loop- subpart %>
				</div> <!-- /part_data -->	
				
				<div class="part_footer">
					<button type="button" class="new_subpart_button">add more <%= part.title %></button>
				</div>
				
			</div>	<!-- /resume_part -->
			<% end #fields_for part%>
			