<table>	<tr><td><%= debug(session) %></td><td><%= debug(params) %></td> </tr>
	<tr><td colspan="2"> |......
			URL/create/:title/hobbies .....|......
			app/views/hobbies/create.html.erb ......|...... 
			The create resume/hobbies view - submission for adding the hobbies text for the resume of a user......|......
			controller: hobbies, action: create ......|	</td></tr></table>
<hr><br />

<%= link_to 'Back to resume', '/show/'+@resume.title %>
<%= link_to 'Home', '/home' %>
<%= link_to 'Logout', '/logout' %>