<table>	<tr><td><%= debug(session) %></td><td><%= debug(params) %></td> </tr>
	<tr><td colspan="2"> |......
			URL/create/:title/skills		.....|......
			app/views/skills/create.html.erb ......|...... 
			The create resume/skills view - submission for adding a new skillset for the resume of a user	......|......
			controller: skills, action: create ......|	</td></tr></table>
<hr><br />

<%= link_to 'Back to resume', '/show/'+@resume.title %>
<%= link_to 'Home', '/home' %>
<%= link_to 'Logout', '/logout' %>