

<!-- edit markup for skill part - one skill object in one go -->
<!--
	CLASSname 	:DESCRIPTION and USAGE
	partUnit 	:a single instance of the part - one skill detail (represnted by one object)
	partItem	:an item within a part - field of the model (a property of object) eg - skill level
	deleteable	:an element that can be deleted with a delete button within it
	key_text	:the text that is displayed as the label for data displayed or input box renderd
	display		:identifies an element that displays data while show
	edit		:identifies an imput box meant for editing
	add			:identifies an input box meant for adding
	delete_button:	a button that can trigger the delete functionality and delete the deletable element
-->

	<div id="skills_<%=h skill.id %>" class="partUnit deleteable">

		<div class="partItem skill_name">
			<span class="key_text">skill name</span>
			<div class="value_block">
				<span class="display"><%=h skill.skill_name %></span>
				<input	type="text"
						class="edit"
						name="skill[<%=h skill.id %>][skill_name]"
						value="<%=h skill.skill_name %>" >
			</div>
		</div>

		<div class="partItem skill_remarks">
			<span class="key_text">remarks</span>
			<div class="value_block">
				<span class="display"><%=h skill.skill_remarks %></span>
				<input	type="text"
						class="edit"
						name="skill[<%=h skill.id %>][skill_remarks]"
						value="<%=h skill.skill_remarks %>" >
			</div>
		</div>

		<!--
		<div class="partItem skillset_type">
			<span class="key_text">skillset-type</span>
			<div class="value_block">
				<span class="display"><%=h skill.skillset_type %></span>
				<input	type="text"
						class="edit"
						name="skill[<%=h skill.id %>][skillset_type]"
						value="<%=h skill.skillset_type %>" >
			</div>
		</div>
		-->

		<div class="delete_button">
			<button type="button">delete</button>
		</div>

	</div>

