<table>	<tr><td><%= debug(session) %></td><td><%= debug(params) %></td> </tr>
	<tr><td colspan="2"> |......
			URL/create/:title/experiences		.....|......
			app/views/experiences/create.html.erb ......|...... 
			The create resume/experiences view - submission for adding a new experience instance for the resume of a user	......|......
			controller: experiences, action: create ......|	</td></tr></table>
<hr><br />

<%= link_to 'Back to resume', '/show/'+@resume.title %>
<%= link_to 'Home', '/home' %>
<%= link_to 'Logout', '/logout' %>