<h1>Listing rhelps</h1>

<table>
  <tr>
    <th>Rcontroller</th>
    <th>Raction</th>
    <th>Rview</th>
    <th>Key</th>
    <th>Msg</th>
  </tr>

<% @rhelps.each do |rhelp| %>
  <tr>
    <td><%=h rhelp.rcontroller %></td>
    <td><%=h rhelp.raction %></td>
    <td><%=h rhelp.rview %></td>
    <td><%=h rhelp.key %></td>
    <td><%=h rhelp.msg %></td>
    <td><%= link_to 'Show', rhelp %></td>
    <td><%= link_to 'Edit', edit_rhelp_path(rhelp) %></td>
    <td><%= link_to 'Destroy', rhelp, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New rhelp', new_rhelp_path %>