<p>
  <b>Rcontroller:</b>
  <%=h @rhelp.rcontroller %>
</p>

<p>
  <b>Raction:</b>
  <%=h @rhelp.raction %>
</p>

<p>
  <b>Rview:</b>
  <%=h @rhelp.rview %>
</p>

<p>
  <b>Key:</b>
  <%=h @rhelp.key %>
</p>

<p>
  <b>Msg:</b>
  <%=h @rhelp.msg %>
</p>


<%= link_to 'Edit', edit_rhelp_path(@rhelp) %> |
<%= link_to 'Back', rhelps_path %>