<!--
	URL/canvas/:title or URL/canvas
	app/views/resumes/canvas.html.erb 
	The canvas resume view - edits (AJAXified) a particular resume of the user in full
	controller: resumes, action: canvas 
	
	Conventions used for this file - 
	1. part block id should be the controller name	
-->
<%
	# all urls
	canvas_url 		= "/canvas/#{@resume.title}" unless !@resume
	options_url 	= "/options/#{@resume.title}" unless !@resume
	view_url		= "/view/#{@resume.title}" unless !@resume
	pdf_url 		= "/makepdf/#{@resume.title}" 	unless !@resume
	publish_url 	= "#{options_url}#publish" 
	templates_url 	= "#{options_url}#templates" 
	dashboard_url 	= "/dashboard"
	newResume_url 	= "/new" 
	logout_url 		= "/logout"	
%>	
<link rel="stylesheet" type="text/css" href="/stylesheets/resumes/canvas.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/tipTip.css" />

<span class="loading_msg_baloon" style="background-color: red">Loading</span>

<% url = '/update/'+@resume.title %>
<% form_tag(url, :method => "post") do %>
<div id="content" style="display:none"> <!-- display is none so that full 'naked' html is not visible while scripts load. Displayed later -->

	<div id="parts_container">
	<div class="interior">

			<div class="resume_part url_holder" id="username">
				<div class="part_data">
					<div class="editPart">
						<div class="partItem name">
							<div class="value_block">
								<span class="display"><%=h @resume.name %></span>
								<input 	type="text"
									class="edit"
									name="resume[name]"
									value="<%=h @resume.name %>" >
							</div>		
						</div>	
					</div>
				</div>	
			</div>	<!-- /username -->

			<div class="resume_part url_holder" id="contacts">
				<div class="part_header">contact</div>	
				<div class="part_data">
					<div class="editPart">
						<% if @resume.contact %>
						<%= render :partial => "contacts/edit_contact.html.erb" , :locals => {:contact => @resume.contact} %> 
						<% end #if %>	
					</div>		
					<div class="plus_button  <%=h (@resume.contact)? "hidden" : "" %>">
						<button class="tooltip_trigger" type="button">+</button>
						<span class="tooltip hidden">click to add contact</span>
					</div>
					<%= render :partial => "contacts/add_contact.html.erb" %> 
				</div> <!-- /part_data -->	
				<div class="part_footer">
					<%= link_to "all-parts", canvas_url %>
					<%= link_to "next-part", "#{canvas_url}/profiles" %>
				</div>	
			</div>	<!-- /contacts -->

			<div class="resume_part url_holder" id="profiles">
				<div class="part_header">profile<%#= link_to 'profile', "#{canvas_url}/profiles" %></div>	
				<div class="part_data">
					<div class="editPart">
						<% if @resume.profile %>
						<%= render :partial => "profiles/edit_profile.html.erb" , :locals => {:profile => @resume.profile} %> 
						<% end #if %>	
					</div>		
					<div class="plus_button <%=h (@resume.profile)? "hidden" : "" %>">
						<button class="tooltip_trigger" type="button">+</button>
						<span class="tooltip hidden">click to add profile</span>
					</div>
					<%= render :partial => "profiles/add_profile.html.erb" %> 	
				</div> <!-- /part_data -->	
				<div class="part_footer">
					<%#= link_to "prev-part", "#{canvas_url}/contacts" %>
					<%#= link_to "all-parts", canvas_url %>
					<%= link_to "next-part", "#{canvas_url}/skills" %>
				</div>	
			</div>	<!-- /profiles -->

			<div class="resume_part url_holder" id="skills">
				<div class="part_header">skills<%#= link_to 'skills', "#{canvas_url}/skills" %></div>	
				<div class="part_data">
					<div class="editPart">
						<% if @resume.skills.size !=0 %>
							<% @resume.skills.each do |skill| %>
							<%= render :partial => "skills/edit_skill.html.erb" , :locals => {:skill => skill} %> 
							<% end #loop %>
						<% end # %>	
					</div>		
					<div class="plus_button">
						<button class="tooltip_trigger" type="button">+</button>
						<span class="tooltip hidden">click to add skills</span>
					</div>
					<%= render :partial => "skills/add_skill.html.erb" %> 
				</div> <!-- part_data -->	
				<div class="part_footer">
					<%#= link_to "prev-part", "#{canvas_url}/profiles" %>
					<%#= link_to "all-parts", canvas_url %>
					<%= link_to "next-part", "#{canvas_url}/educations" %>
				</div>	
			</div>	<!-- /skills -->

			<div class="resume_part url_holder" id="educations">
				<div class="part_header">education<%#= link_to 'education', "#{canvas_url}/educations" %></div>	
				<div class="part_data">
					<div class="editPart">
						<% if @resume.educations.size !=0 %>
							<% @resume.educations.each do |education| %>
							<%= render :partial => "educations/edit_education.html.erb" , :locals => {:education => education} %> 
							<% end #loop %>
						<% end # %>	
					</div>		
					<div class="plus_button">
						<button class="tooltip_trigger" type="button">+</button>
						<span class="tooltip hidden">click to add education</span>
					</div>
					<%= render :partial => "educations/add_education.html.erb" %> 
				</div> <!-- part_data -->
				<div class="part_footer">
					<%#= link_to "prev-part", "#{canvas_url}/skills" %>
					<%#= link_to "all-parts", canvas_url %>
					<%= link_to "next-part", "#{canvas_url}/experiences" %>
				</div>	
			</div>		<!-- educations -->

			<div class="resume_part url_holder" id="experiences">
				<div class="part_header">experiences<%#= link_to 'experiences', "#{canvas_url}/experiences" %></div>	
				<div class="part_data">
					<div class="editPart">
						<% if @resume.experiences.size !=0 %>
							<% @resume.experiences.each do |experience| %>
							<%= render :partial => "experiences/edit_experience.html.erb" , :locals => {:experience => experience} %> 
							<% end #loop %>
						<% end # %>	
					</div>		
					<div class="plus_button">
						<button class="tooltip_trigger" type="button">+</button>
						<span class="tooltip hidden">click to add expereinces</span>
					</div>
					<%= render :partial => "experiences/add_experience.html.erb" %> 
				</div> <!-- part_data -->	
				<div class="part_footer">
					<%#= link_to "prev-part", "#{canvas_url}/educations" %>
					<%#= link_to "all-parts", canvas_url %>
					<%= link_to "next-part", "#{canvas_url}/achievements" %>
				</div>	
			</div>	<!-- /experiences -->
			
			<div class="resume_part url_holder" id="achievements">
				<div class="part_header">achievements<%#= link_to 'achievements', "#{canvas_url}/achievements" %></div>	
				<div class="part_data">
					<div class="editPart">
						<% if @resume.achievement %>
						<%= render :partial => "achievements/edit_achievement.html.erb" , :locals => {:achievement => @resume.achievement} %> 
						<% end #if %>	
					</div>		
					<div class="plus_button <%=h (@resume.achievement)? "hidden" : "" %>">
						<button class="tooltip_trigger" type="button">+</button>
						<span class="tooltip hidden">click to add achievements</span>
					</div>
					<%= render :partial => "achievements/add_achievement.html.erb" %> 					
				</div> <!-- part_data -->	
				<div class="part_footer">
					<%#= link_to "prev-part", "#{canvas_url}/experiences" %>
					<%#= link_to "all-parts", canvas_url%>
					<%= link_to "next-part", "#{canvas_url}/hobbies" %>
				</div>					
			</div>	<!-- /achievements -->

			<div class="resume_part url_holder" id="hobbies">
				<div class="part_header">hobbies<%#= link_to 'hobbies', "#{canvas_url}/hobbies" %></div>	
				<div class="part_data">
					<div class="editPart">
						<% if @resume.hobby %>
						<%= render :partial => "hobbies/edit_hobby.html.erb" , :locals => {:hobby => @resume.hobby} %> 
						<% end #if %>	
					</div>		
					<div class="plus_button <%=h (@resume.hobby)? "hidden" : "" %>">
						<button class="tooltip_trigger" type="button">+</button>
						<span class="tooltip hidden">click to add hobbies</span> 
					</div>
					<%= render :partial => "hobbies/add_hobby.html.erb" %> 
				</div> <!-- part_data -->	
				<div class="part_footer">
					<%#= link_to "prev-part", "#{canvas_url}/achievements" %>
					<%#= link_to "all-parts", canvas_url %>
					<%= link_to "view-resume", view_url, {:target => "_blank"} %>
				</div>									
			</div>	<!-- hobbies -->
	
	</div>	<!-- /interior -->
	</div>	<!-- /parts_container -->		
	
	<div id="canvas_sidebar">
		<div class="interior">
			<div id="resume_meta" class="url_holder sidebar_item">
				<div class="resume_title"><%=h @resume.title %></div>
				<div class="meta_desc">
					<span class="display"><%=h @resume.meta_desc %></span>
					<textarea class="edit" name="resume[meta_desc]"
						><%=h @resume.meta_desc %></textarea>	<!-- doesn't work right now - in future maybe -->
				</div>
			</div>
			<div class="sidebar_item" id="resume_actions">
				<div class="actions_heading">actions</div>
				<ul class="action_links_list">
					<li class="action_link"><%= link_to 'view resume (html)', 	view_url, 	{:target => "_blank"} %></li>
					<li class="action_link"><%= link_to 'create pdf',	 		pdf_url, 	{:target => "_blank"} %></li>
					<li class="action_link"><%= link_to 'publish', 				publish_url 		%></li>
					<li class="action_link"><%= link_to 'change template',		templates_url 	%></li>
				</ul>
			</div>
			<div class="sidebar_item" id="go-to">
				<div class="go-to_heading">go-to</div>
				<ul class="go-to_links_list">
					<li class="go-to_link"><%= link_to "#{@resume.title}-options", 			options_url	%></li>
					<li class="go-to_link"><%= link_to "dashboard", 						dashboard_url 	%></li>
					<li class="go-to_link"><%= link_to 'create new resume',	newResume_url 	%></li>
					<li class="go-to_link"><%= link_to 'logout', 							logout_url 		%></li>	
				</ul>
			</div>			
			
		</div>	<!-- /interior -->
	</div>	<!-- /canvas_sidebar -->
	
</div>	<!-- /content -->
<% end #form %>

<div class="button_stripe hidden">
	<button type="button" class="update">Update</button>
	<button type="button" class="clear">Clear</button>
	<span class="ajax_processing_msg hidden">doing...</span>
</div>

<% if RAILS_ENV == "production" %>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.tipTip.minified.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jgrowl_minimized.js"></script>
<script type="text/javascript" src="/javascripts/resume_common.js"></script>
<script type="text/javascript" src="/javascripts/resumes/canvas.js"></script>	
<% end %>

<% if RAILS_ENV == "development" %>	
<script type="text/javascript" src="/javascripts/jquery-1.3.2.js"></script>
<script type="text/javascript" src="/javascripts/jquery.tipTip.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jgrowl.js"></script>
<script type="text/javascript" src="/javascripts/resume_common.js"></script>
<script type="text/javascript" src="/javascripts/resumes/canvas.js"></script>
<% end %>
