<table>	<tr><td><%= debug(session) %></td><td><%= debug(params) %></td> </tr>
	<tr><td colspan="2"> |......
			URL/create/:title/contacts .....|......
			app/views/contacts/create.html.erb ......|......
			The create resume/contacts view - submission for adding the contacts text for the resume of a user......|......
			controller: contacts, action: create ......|	</td></tr></table>
<hr><br />

<%= link_to 'Back to resume', '/show/'+@resume.title %>
<%= link_to 'Home', '/home' %>
<%= link_to 'Logout', '/logout' %>