<div id="footer">
	<span class="footer_item faqs">		<%= link_to 'faqs', '/faqs' %>			</span>
	<span class="footer_item about">	<%= link_to 'about', '/about' %>		</span>
	<span class="footer_item contact">	<%= link_to 'contact', '/contact' %>	</span>
	<span class="footer_item terms">	<%= link_to 'terms', '/terms' %>		</span>
	<span class="footer_item privacy">	<%= link_to 'privacy', '/privacy' %>	</span>
	<!--<span class="footer_item blog">	<%= link_to 'blog', '' %>				</span>	-->
	<span class="footer_item privacy">	<%= link_to 'feedback', '/feedback' %>	</span>
</div>
<% if RAILS_ENV == "development" %>
	Session<%= debug(session) %>
	Params<%= debug(params) %>
<% end %>
