
<% page = controller.action_name %>

<% if page == "index" %>
<div id="index_header">
	<div id="name_banner">
			<span class="interior">
				<%= link_to 'resumeCreator', @index_url,	{:class => "name_banner_link"} %>
			</span>	
	</div>
</div>
<% end %>

<% if page == "signup" %>
<div id="signup_header">
	<div id="name_banner">
			<span class="interior">
				<%= link_to 'resumeCreator', @index_url,	{:class => "name_banner_link"} %>
			</span>	
	</div>
</div>	
<% end %>

<% if page == "new" %>
<div id="header">
	<div id="page_name">
		<span class="interior"><%= link_to "new resume", @new_resume_url %></span>
	</div>

	<div id="name_banner_and_basic_links">
		<div id="name_banner" class="header_item">
			<span class="interior">
				<%= link_to 'resumeCreator', @home_url,	{:class => "name_banner_link"} %>
			</span>	
		</div>
		<div id="basic_links" class="header_item">
			<span class="interior">
				<%= link_to 'home', 		@home_url, 	{:class => "basic_links_item"} %>
				<%#= link_to 'my-account', 	@home_url, 	{:class => "basic_links_item"} %>
				<%= link_to 'logout', 		@logout_url, {:class => "basic_links_item"} %>
			</span>	
		</div>
	</div>	<!-- /name_banner_and_basic_links -->
</div>	<!-- /header -->
<% end %>

<% if page=="home"%>
<div id="header">
	<div id="page_name">
		<span class="interior"><%= link_to "#{@user.username}-home", @home_url %></span>
	</div>

	<div id="name_banner_and_basic_links">
		<div id="name_banner" class="header_item">
			<span class="interior">
				<%= link_to 'resumeCreator', @home_url,	{:class => "name_banner_link"} %>
			</span>	
		</div>
		<div id="basic_links" class="header_item">
			<span class="interior">
				<%= link_to 'home', 		@home_url, 	{:class => "basic_links_item"} %>
				<%#= link_to 'my-account', 	@home_url, 	{:class => "basic_links_item"} %>
				<%= link_to 'logout', 		@logout_url, {:class => "basic_links_item"} %>
			</span>	
		</div>
	</div>	<!-- /name_banner_and_basic_links -->
</div>	<!-- /header -->
<% end %>

<% if page=="dashboard"%>
<div id="header">
	<div id="page_name">
		<span class="interior"><%= link_to "#{@resume.title}-dashboard", @dashboard_url %></span>
	</div>

	<div id="name_banner_and_basic_links">
		<div id="name_banner" class="header_item">
			<span class="interior">
				<%= link_to 'resumeCreator', @home_url,	{:class => "name_banner_link"} %>
			</span>	
		</div>
		<div id="basic_links" class="header_item">
			<span class="interior">
				<%= link_to 'home', 		@home_url, 	{:class => "basic_links_item"} %>
				<%#= link_to 'my-account', 	@home_url, 	{:class => "basic_links_item"} %>
				<%= link_to 'logout', 		@logout_url, {:class => "basic_links_item"} %>
			</span>	
		</div>
	</div>	<!-- /name_banner_and_basic_links -->
</div>	<!-- /header -->
<% end %>


<% if page == "options" %>
<div id="header">
	<div id="page_name">
		<span class="interior"><%= link_to "#{@resume.title}-options", @options_url %></span>
	</div>

	<div id="name_banner_and_basic_links">
		<div id="name_banner" class="header_item">
			<span class="interior">
				<%= link_to 'resumeCreator', @home_url,	{:class => "name_banner_link"} %>
			</span>	
		</div>
		<div id="basic_links" class="header_item">
			<span class="interior">
				<%= link_to 'home', 		@home_url, 	{:class => "basic_links_item"} %>
				<%#= link_to 'my-account', 	@home_url, 	{:class => "basic_links_item"} %>
				<%= link_to 'logout', 		@logout_url, {:class => "basic_links_item"} %>
			</span>	
		</div>
	</div>	<!-- /name_banner_and_basic_links -->
	
</div>	<!-- /header -->

<div id="option_buttons">
		<span class="interior">
			<%= link_to 'edit', 	@edit_url, 		{:class => "option_buttons_item"} %>
			<%= link_to 'output', 	@pdf_url, 	{:class => "option_buttons_item", :target => "_blank"} %>
			<%= link_to 'dashboard',@dashboard_url, {:class => "option_buttons_item"} %>
		</span>
</div>

<% end %>

<% if page == "edit" %>
<div id="edit_header">

	<div id="name_banner" class="header_item">
			<span class="interior">
				<%= link_to 'resumeCreator', @home_url,	{:class => "name_banner_link"} %>
			</span>	
	</div>	<!-- /name_banner -->

</div>	<!-- /header -->
<% end %>


<% if controller.controller_name == "static_pages" %>
<div id="header">
	<div id="page_name">
		<span class="interior"><%= link_to params[:page], "/#{params[:page]}" %></span>
	</div>

	<div id="name_banner_and_basic_links">
		<div id="name_banner" class="header_item">
			<span class="interior">
				<%= link_to 'resumeCreator', @home_url,	{:class => "name_banner_link"} %>
			</span>	
		</div>
		<div id="basic_links" class="header_item">
			<span class="interior">
				<%= link_to 'home', 		@home_url, 	{:class => "basic_links_item"} %>
				<%#= link_to 'my-account', 	@home_url, 	{:class => "basic_links_item"} %>
				<% if session[:current_user_id] %>
					<%= link_to 'logout', 		@logout_url, {:class => "basic_links_item"} %>
				<% end %>	
			</span>	
		</div>
	</div>	<!-- /name_banner_and_basic_links -->
</div>	<!-- /header -->

<% end %>